<form [formGroup]="userFormGroup" (ngSubmit)="submit()">
    <label for="name">Name</label>
    <div class="input-group mb-3">
      <input type="text"
             class="form-control"
             name="name"
             formControlName="name">
    </div>

    <label for="address">Address</label>
    <div class="input-group mb-3">
      <input type="text"
             class="form-control"
             name="address"
             formControlName="address">
    </div>

    <label for="age">Age</label>
    <div class="input-group mb-3">
      <input type="number"
             class="form-control"
             name="age"
             formControlName="age">
    </div>

    <label for="tel">Tel</label>
    <div class="input-group mb-3">
      <input type="text"
             class="form-control"
             name="tel"
             formControlName="tel">
    </div>
    <button type="button" class="form-control" routerLink="/user">back</button>
    <button type="button" class="form-control">reset</button>
    <button type="submit" class="form-control" [disabled]="userFormGroup.invalid">Submit</button>

</form>
